<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC 311 Calls</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Our CSS -->

    <link rel="stylesheet" type="text/css" href="static/css/style.css">


</head>

<body>
    <!-- Define the Navigation Bar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand d-inline p-2 ml-5 bg-info text-white mb-0 pb-0" href="./index.html">Homepage</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Heat Map
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="./leaflet.html">Heat Map</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./nyc_311_calls.html">nyc_311_calls</a>
                </li>

            </ul>

            <div class="container">
                <hr>
                <p>This project was invisioned to share information about 311 calls in NYC. I would like to visualize
                    the most common
                    type of 311 calls made NYC, along with which agency receives the most calls and map the density of
                    311 calls in NYC.<br><br>
                </p>
                <div id="intro-container" class="container-fluid main_background pt-5">
                    <div id="header-row" class="row pt-5">
                    </div>
                    <div id="subheader-row" class="row pt-5">
                        <div id="subheader-div" class="justify-center subheader-div col mt-5 mb-2 pl-5">
                            <p style="font-size: 2.5vw;">NYC 311 calls</h1>
                        </div>


                        <!-- The div that holds our map -->
                        <div id="map"></div>

                        <body>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <div id="bar">




                                            <h1>Bar Chart</h1>
                                        </div>
                                    </div>

                                    <script src="static/js/config.js"></script>
                                    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
                                    <script src="https://d3js.org/d3.v5.min.js"></script>
                                    <!-- Our JavaScript -->
                                    <!-- <script src="static/js/logic.js"></script> -->
                                    <script src="static/js/leaflet-heat.js"></script>

                                    <script src="static/js/app.js"></script>

                                    <!-- Footer-->
                                    <div id="footer">
                                        <p>Project-2</p>
                                    </div>


                        </body>


</html>