<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>311 NYC Heat <MAp></MAp></title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />
    <!-- Our CSS  -->
    <link rel="stylesheet" href="./static/css/style.css" />

</head>

<body>

    <div id="map"></div>

    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <!-- D3 CDN -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Leaflet heatmap plugin-->
    <script src="static/js/leaflet-heat.js"></script>

</body>

</html>